@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1668260758287') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
  content: "\e665";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-frame:before {
  content: "\e8df";
}

.icon-wenben:before {
  content: "\e639";
}

.icon-checkbox-weixuan:before {
  content: "\e8b5";
}

.icon-shangchuandaochu:before {
  content: "\e8c6";
}

.icon-rotate:before {
  content: "\e6aa";
}

.icon-xingzhuang-tuoyuanxing:before {
  content: "\eb99";
}

.icon-xingzhuang-sanjiaoxing:before {
  content: "\eb9a";
}

.icon-Line:before {
  content: "\e66a";
}

.icon-24gl-circle:before {
  content: "\ea97";
}

.icon-24gl-square:before {
  content: "\ea98";
}

.icon-xianduan:before {
  content: "\e602";
}

.icon-huabi:before {
  content: "\e61f";
}

.icon-tx-zhengfangxing:before {
  content: "\e650";
}

.icon-note:before {
  content: "\ea2d";
}

.icon-checkbox:before {
  content: "\ea70";
}

.icon-xuanze:before {
  content: "\edf6";
}

.icon-zhixian:before {
  content: "\edf8";
}

